<ul class="dropdown-menu" style="display: inline-block; position: relative">
  <li>
    <a class="dropdown-item" href="./{{table.name}}?{{table.name}}.{{column}}=eq.{{cell.text}}">
      <i class="bi bi-funnel-fill"></i>
      Filter for this value
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="./{{table.name}}?{{table.name}}.{{column}}=not_eq.{{cell.text}}">
      <i class="bi bi-funnel"></i>
      Excude this value
    </a>
  </li>
  <li>
    <hr class="dropdown-divider">
  </li>
  <li>
    <a class="dropdown-item" href="{{site.root}}/add-row-before/{{table.name}}/{{row.id}}">
      <i class="bi bi-plus"></i>
      Insert 1 row above
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="{{site.root}}/add-row-after/{{table.name}}/{{row.id}}">
      <i class="bi bi-plus"></i>
      Insert 1 row below
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="{{site.root}}/delete-row/{{table.name}}/{{row.id}}">
      <i class="bi bi-trash"></i>
      Delete row
    </a>
  </li>
  {% if cell.messages %}
  <li>
    <hr class="dropdown-divider">
  </li>
  {% endif %}
  {% for message in cell.messages %}
  <li>
    <a class="dropdown-item">
      {% if message.level|lower == 'error' %}
      <i class="bi bi-exclamation-octagon text-danger"></i>
      {% elif message.level|lower == 'warn' %}
      <i class="bi bi-exclamation-triangle text-warning"></i>
      {% elif message.level|lower == 'info' %}
      <i class="bi bi-info-circle text-info"></i>
      {% elif message.level|lower == 'debug' %}
      <i class="bi bi-bug text-success"></i>
      {% else %}
      <i class="bi bi-question-square"></i>
      {% endif %}
      {{message.rule}}:
      {{message.message}}
    </a>
  </li>
  {% endfor %}
</ul>