<ul class="dropdown-menu" style="display: inline-block; position: relative">
  <li>
    <a class="dropdown-item" href="{{site.root}}/table/{{table.name}}?{{column}}=eq.{{cell.text}}">
      <i class="bi bi-funnel-fill"></i>
      Filter for this value
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="{{site.root}}/table/{{table.name}}?{{column}}=neq.{{cell.text}}">
      <i class="bi bi-funnel"></i>
      Excude this value
    </a>
  </li>
  <li>
    <hr class="dropdown-divider">
  </li>
  <li>
    <a class="dropdown-item" href="{{site.root}}/add-row-before/{{table.name}}/{{row.id}}">
      <i class="bi bi-plus"></i>
      Insert 1 row above
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="{{site.root}}/add-row-after/{{table.name}}/{{row.id}}">
      <i class="bi bi-plus"></i>
      Insert 1 row below
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="{{site.root}}/delete-row/{{table.name}}/{{row.id}}">
      <i class="bi bi-trash"></i>
      Delete row
    </a>
  </li>
</ul>