{% set select = rltbl.select %}
{% set range = rltbl.range %}
{% set table = rltbl.table %}
{% set columns = rltbl.columns %}
{% set rows = rltbl.rows %}

<html>

<head>
  <title>{{table.name}}</title>
  <link href="/static/main.css" rel="stylesheet">
</head>

<body>
  <h1>{{table.name}}</h1>

  <div id="portal" style="width: 100%; min-width: 400px; left: auto; right: auto"></div>

  <p class="range">Rows {{ range.start }}-{{ range.end }} of {{ range.total }}</p>
  <table class="table">
    <thead>
      <tr>
        {% for column in columns %}
        <th>{{ column.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        {% for column, cell in row.cells|items %}
        <td>{{ cell.text }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {# <pre>{{ debug() }}</pre> #}
  <script>
    window.rltbl = {{rltbl | tojson}};
  </script>
  <script defer="defer" src="/static/main.js"></script>
</body>

</html>